<h1>About Us</h1>
<div class="row">
 <div class="row">
    <div class="col-md-4">ok why the fuck doesn't this work dude? and if i just write tons and Mr. Draghi, who has cautioned that the euro crisis will not be over until the labor market begins to recover, has more recently sought to play down the risk of deflation, perhaps to hold in reserve the possibility of a last major rate cut, to zero.

The 0.7 percent inflation rate likely came as a surprise to the European Central Bank. Mr. Draghi had played down the significance of the 0.8 percent December figure, saying that a statistical “quirk” in the German services data for that month had pushed it lower and that January would likely show more upward pressure on prices.</div>
    <div class="col-md-4">Mr. Draghi, who has cautioned that the euro crisis will not be over until the labor market begins to recover, has more recently sought to play down the risk of deflation, perhaps to hold in reserve the possibility of a last major rate cut, to zero.

The 0.7 percent inflation rate likely came as a surprise to the European Central Bank. Mr. Draghi had played down the significance of the 0.8 percent December figure, saying that a statistical “quirk” in the German services data for that month had pushed it lower and that January would likely show more upward pressure on prices.</div>
	<div class="col-md-4">Mr. Draghi, who has cautioned that the euro crisis will not be over until the labor market begins to recover, has more recently sought to play down the risk of deflation, perhaps to hold in reserve the possibility of a last major rate cut, to zero.

The 0.7 percent inflation rate likely came as a surprise to the European Central Bank. Mr. Draghi had played down the significance of the 0.8 percent December figure, saying that a statistical “quirk” in the German services data for that month had pushed it lower and that January would likely show more upward pressure on prices.
	</div>
</div>

<p>Got more questions? <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-envelope"></span> Email us!
  </button>
</p>

<p>Click Here To Sign Up <%= link_to "Click here", "mailto:ben.fitterman@gmail.com", class: "btn btn-primary btn-lg" %></p>